
<div class="container">
  <!-- <h3>I'm app component</h3>  
  <hr>
  <app-demo></app-demo>
  <hr>
  <app-test-binding></app-test-binding>
  <hr>
  <app-server></app-server>
  <br><br><br>
  <app-assisgment></app-assisgment> -->

  <app-cockpit (serverCreated)="onAddServer($event)" (blueprintCreated)="onAddBlueprint($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-primary mr-3 mb-4" (click)= "onChange()">Change</button>
      <button class="btn btn-danger  mb-4" (click)= "onDelete()">Delete</button>
      <app-server-element *ngFor = " let serverElement of serverElements" [srvElement]="serverElement" [name]="serverElement.name">
        <p #contentParagraph>
          <strong *ngIf = "serverElement.type === 'server' " style="color: red">{{serverElement.content}}</strong>
          <em *ngIf = "serverElement.type === 'blueprint' " style="color: blue">{{serverElement.content}}</em>
      </p>
      </app-server-element>
    </div>
  </div>
</div>